.movies,
.trailers {
    margin-top: 3rem;
}

.movies {
    &List {
        padding: 1rem 0;
        overflow-x: scroll;
        
        display: flex;
        flex-wrap: nowrap;
        
        list-style-type: none;
    }
}